<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>
        <%= article.title %>
    </title>
</head>
<body>
    <header>
        <div class="button-area">
            <% if (isAuthenticated) { %>
                <form action="/logout" method="post">
                    <button class="button">logout</button>
                </form>
                <% } %>
                    <a href="/index.html">
                        <button class="button">back</button>
                    </a>
        </div>
        <div class="info-area">
            <h1 class="headline">
                <%= article.title %>
            </h1>
            <p class="date">
                <%= article.date %>
            </p>
        </div>
    </header>
    <main>
        <p class="text">
            <%= article.content %>
        </p>
    </main>
    <footer>
        <h4>
            <%= year %> u-jin22
        </h4>
    </footer>
</body>
</html>