<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Personal Blog</title>
</head>

<body>
    <header>
        <div class="button-area">
            <% if (isAuthenticated) { %>
                <form action="/logout" method="post">
                    <button class="button">logout</button>
                </form>
                <a href="/new.html">
                    <button class="button">+ add</button>
                </a>
                <% } else { %>
                    <a href="/login.html">
                        <button class="button">login</button>
                    </a>
                    <% } %>
        </div>
        <div class="info-area">
            <h1 class="headline">Personal Blog</h1>
        </div>
    </header>
    <main>
        <ul>
            <% if (!articles || articles.length===0) { %>
                <h2>NO POSTS YET!</h2>
                <% } else { %>
                    <% articles.forEach((article)=> { %>
                        <li class="article-item">
                            <div class="article-container">
                                <!-- link to the article using its ID -->
                                <a href="/article/<%= article.id %>" class="article-link">
                                    <p class="article-title">
                                        <%= article.title %>
                                    </p>
                                    <p class="article-date">
                                        <%= article.date %>
                                    </p>
                                </a>

                                <% if (isAuthenticated) { %>
                                    <div class="admin-commands-area">
                                        <a href="/new/<%= article.id %>"><button class="button">Edit</button></a>
                                        <form action="/delete/<%= article.id %>" method="POST">
                                            <button class="button">Delete</button>
                                        </form>
                                    </div>
                                    <% } %>
                            </div>
                        </li>
                    <% }) %>
                <% } %>
        </ul>
    </main>
    <footer>
        <h4>
            <%= year %> u-jin22
        </h4>
    </footer>
</body>
</html>